body{
    text-align: center;
}
.dark{
    position:relative;
    background-color: blue;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.togg{
    background-color: black;
}
.btn-style{
    position:absolute;
}
.head{
    color:white;
}
.head2{
    color:red;
}